<div class="index-footer">
            <div class="info"><p>Jarrett Fuller is a designer, writer, educator, and podcaster. <a href="/feed.xml">RSS feed</a>.</p>


<p>Sign up for my monthly-ish newsletter:</p>

<!-- Subscribe embed code -->
<div data-supascribe-embed-id="907513995071" data-supascribe-subscribe></div>

<!-- Supascribe Script -->
<script src="https://js.supascribe.com/v1/loader/WRj7mGJbbDfjY4CpCPnPMJUIJF63.js" async></script>



    </div>
            <div class="categories">
<ul>
  {% for category in site.category %}
    <li>
      <a href="{{ category.url }}">{{ category.tag }}</a>
    </li>
  {% endfor %}
</ul></div>
    <section class="clear"></section>
        </div>
