<div class="index-footer">
            <div class="info"><p>Jarrett Fuller is a designer, writer, educator, and podcaster. <a href="/feed.xml">RSS feed</a>.</p>


<p>Sign up for my monthly-ish newsletter:</p>

                <div id="custom-substack-embed"></div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "jarrettfuller.substack.com",
    placeholder: "example@gmail.com",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "#000000",
      input: "#FFFFFF",
      email: "#000000",
      text: "#FFFFFF",
    }
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>


    </div>
            <div class="categories">
<ul>
  {% for category in site.category %}
    <li>
      <a href="{{ category.url }}">{{ category.tag }}</a>
    </li>
  {% endfor %}
</ul></div>
    <section class="clear"></section>
        </div>
