<div class="index-footer">
            <div class="info"><p>Jarrett Fuller is a designer, writer, educator, and podcaster. <a href="/feed.xml">RSS feed</a>.</p>

<!--
                <p>Sign up for my monthly-ish newsletter:</p>
                <form
  action="https://buttondown.email/api/emails/embed-subscribe/jarrettfuller"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/jarrettfuller', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email" placeholder="email address" >
  <input type="hidden" value="1" name="embed">
  <input type="submit" value="Subscribe">
  <p>
  </p>
</form>
-->



    </div>
            <div class="categories">
<ul>
  {% for category in site.category %}
    <li>
      <a href="{{ category.url }}">{{ category.tag }}</a>
    </li>
  {% endfor %}
</ul></div>
    <section class="clear"></section>
        </div>
