<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }} | Blog—Jarrett Fuller</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles.css" />
       <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i" rel="stylesheet">
        <link rel="icon" type="image/png" href="/images/icon.ico">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
{% feed_meta %}
        {% include analytics.html %}

    </head>
    <body id="top">
        <header><h1 class="site-name"><a href="http://www.jarrettfuller.com">{{ site.title }}</a></h1>
            <nav><ul>
                <li><a href="http://www.jarrettfuller.com/projects">Work</a></li>
                <li><a href="http://www.jarrettfuller.com/teaching">Teaching</a></li>
                <li><a href="http://www.jarrettfuller.com/about">About</a></li>
<!--                <li><a href="http://jarrettslibrary.tumblr.com">Library</a></li>-->
                <li><a href="{{ site.baseurl }}/">Blog</a></li>
<!--                                <li><a href="http://scratchingthesurface.fm">Podcast <i class="far fa-external-link-alt"></i></a></li>-->
             </ul></nav></header>



<div id="container">
      {{ content }}
    </div>

        <footer><div class="left"><p>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> Jarrett Fuller.</p></div>

    <div class="right"><p><a href="mailto:jarrettfuller@gmail.com">Email</a> | <a href="http://www.twitter.com/jarrettfuller">Twitter</a> | <a href="http://www.instagram.com/jarrettfuller">Instagram</a> | <a href="https://are.na/jarrett-fuller">Are.na</a> | <a href="https://open.spotify.com/user/jarrettfuller/">Spotify</a></p></div>
    </footer>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script>
            $(".images .to-top a").click(function(event) {
                event.preventDefault();
                $("body,body").animate({scrollTop:$(this.hash).offset().top}, 400);
            });
        </script>
    </body>
</html>
